:root{
    --deepGrey: #353232;
}

.carousel-indicators li{
    color: #353232;
    background-color: #353232;
}

.carousel-indicators .active {
    background-color: white !important;
    transition: .3s;
    position: relative;
    bottom: 2px;
}

.carousel-indicators li {
    margin: 0px 35px !important;
    width: 50px !important;
    transition: .3s;
}

#myCarousel {
    height: inherit;
    background-color: var(--deepGrey)
}

.carousel-inner, .item {
    height: inherit;
}

.iframeSlide {
    height: 92%;
    width: 90%;
    aspect-ratio: 1.78;
}

.carousel-control {
    height: 7%;
    width: 75px;
    background-color: #636363;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.carousel-control:hover {
    background-color: #30515e;
}

.carousel-indicators {
    bottom: 2px !important;
}

.slideHeaders {
    height: 7%;
    width: calc(100% - 150px);
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-content: center;

}

.siteLinks {
    font-size: 2em;
    font-weight: 600;
    margin: 0px 100px;
    color: white;
    transition: 0.3s;
    flex-grow: 2;
    text-align: center;
}

.siteLinks i {
    margin: 0px 5px;
    font-size: 0.6em;
    vertical-align: text-top;
}

.slideTechLogos {
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
}

iframe {
    -ms-zoom: 0.75;
    -moz-transform: scale(0.75);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.75);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(0.8);
    -webkit-transform-origin: 0 0;
    width: 1600px;
}

.iFrameContainer {
    background-color: #638897;
}

iframe {
    background-color: white;
}

.descriptionWindow {
    color: white;
    width: 15%;
    position: relative;
    left: -10%;
    padding-top: 40px;
    
}

.carousel-control.right {
    background-image: linear-gradient(to left,rgba(0,0,0,.0001) 0,rgb(53 50 50) 100%);
}

.carousel-control.left {
    background-image: linear-gradient(to right,rgba(0,0,0,.0001) 0,rgb(53 50 50) 100%);
}

.fa-arrow-right, .fa-arrow-left {
    color: #0dcaf0;
}