:root{
    --deepGrey: #454040;
}

.carousel-indicators li{
    color: #454040;
    background-color: #454040;
}

.carousel-indicators .active {
    background-color: white !important;
    transition: .3s;
    position: relative;
    bottom: 2px;
    box-shadow: 4px 4px 9px 5px;;
}

.carousel-indicators li {
    margin: 0px 35px !important;
    width: 50px !important;
    transition: .3s;
}

#myCarousel {
    height: inherit;
    background-color: var(--deepGrey)
}

.carousel-inner, .item {
    height: inherit;
}

.carousel-inner {
    border-bottom: 3px solid var(--deepGrey);
}

.iframeSlide {
    height: 92%;
    width: 90%;
    aspect-ratio: 1.78;
}

.carousel-control {
    height: 7%;
    width: 75px;
    background-color: #636363;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-size: 2em;
}

.carousel-control:hover {
    background-color: #30515e;
}

.carousel-indicators {
    bottom: 2px !important;
}

.slideHeaders {
    height: 7%;
    width: calc(100% - 150px);
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-content: center;

}

.siteLinks {
    font-size: 2em;
    font-weight: 600;
    margin: 0px 100px;
    color: white;
    transition: 0.3s;
    flex-grow: 2;
    text-align: center;
}

.siteLinks:hover {
    color: #688fb1;
}

.siteLinks i {
    margin: 0px 5px;
    font-size: 0.4em;
    vertical-align: text-top;
}

.slideTechLogos {
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
}

iframe {
    -ms-zoom: 0.75;
    -moz-transform: scale(0.75);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.75);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(0.8);
    -webkit-transform-origin: 0 0;
    width: 1600px;
}

.iFrameContainer {
    background-color: #638897;
}

iframe {
    background-color: white;
}

.descriptionWindow {
    color: white;
    width: 15%;
    position: relative;
    left: -10%;
    padding-top: 40px;
    
}

.descriptionWindow ul {
    padding-left: 10px;
    line-height: 2.2rem;
}


.carousel-control.right {
    background-image: linear-gradient(to left,rgba(0,0,0,.0001) 0, var(--deepGrey) 100%);;
}

.carousel-control.left {
    background-image:linear-gradient(to right,rgba(0,0,0,.0001) 0, var(--deepGrey) 100%);;
}

.fa-arrow-right, .fa-arrow-left {
    color: #0dcaf0;
}

@media screen and (max-width: 870px) {
    .slidelangLogo {
        height: 20px;
    }

    .carousel-control {
        width: 40px !important;
        height: 60px;
    }

    .carousel-control i {
        font-size: 1.2em;
    }

    .iFrameContainer {
        padding: 15px 0px;
        flex-direction: column;
    }

    #boatSlide > span > a.siteLinks {
        margin: 0px 50px !important
    }

    .slideHeaders {
        height: 60px;
        width: calc(100% - 125px)
    }

    .siteImgs {
        display: block;
        width: 96%;
        aspect-ratio: 1.78;
        margin: 0 auto;
    }

    .slideTechLogos {
        padding-bottom: 5px;
    }

    .descriptionWindow {
        width: 100%;
    padding: 15px;
    position: initial;
    }

    .carousel-indicators {
        bottom: 2px !important;
        width: 100%;
        margin: 0 auto;
        left: 0;
        padding: 0px;
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 20px;
    }

    #workExamples {
        height: max-content !important;
        width: 100%;
    }

    .carousel-inner {
        padding-bottom: 55px !important;
    }
}