#fullBody {
    width: 75%;
    margin:0 auto;
    justify-content: center;
    border-right: 1px solid black;
    border-left: 1px solid black;
    display: block;
    height: 100vh;
}

#mainTitle {
    text-align: center;
    height: 100px;
    padding-top: 30px;
    margin-top: 0px;
}

#overlay {
    width: 100vw;
    height: 15vh;
    position: fixed;
    bottom: 0px;
    right: 0px;
    background: linear-gradient(0deg, rgba(255,255,255,1) 9%, rgba(255,255,255,0) 83%);
    z-index: 100;
}

#bioSection {
    width: 90%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin: 0 auto;
    height: 200px;
    text-align: center;
    padding-top: 25px;
}

#workExamples h2 {
    text-align: center;
    margin: 0 auto;
    width: 60%;
}

.linkBody {
    width: 95%;
    background-color: lightgrey;
    margin: 25px auto;
    height: 90px;
    border-radius: 5px;
    overflow: hidden;
}

.pageTitle h3 {
    display: inline-block;
    margin: 20px 0 0 15px;
    padding: 10px;
    border-radius: 5px;
}

.pageTitle p {
    display: inline-block;
    height: inherit;
}


/* Poker Link Styling */

#Poker {
    background-color: #08844e;
    color: black;
}

#Poker h3 {
    border: 2px solid gold;
    color: black;

}

/* Boat Link syling */

#Boat {
    background-color: #0b3c62;
    color: #a58d6f;
}

#Boat h3 {
    color: #a58d6f;
    border: 2px solid #a58d6f;
}

/* Drone Link Styling */

#Drone {
    
}

#Drone h3 {
    color: #3f6163;
}


.pageTitle {
    float: left;
    height: inherit;
}

.logoSection {
    justify-content: space-between;
    float: right;
    width: 0px;
    transition: .3s;
    background-color: lightgray;
    border-radius: 5px;
    height: inherit;
}

.linkOuter:hover .logoSection {
    width: 250px;
    transition: .3s;
    display: flex;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
}

.langLogo {
    width: 50px;
    display: inline;
    height: 50px;
    padding-top: 15px;
}