@font-face {
    font-family: "Card";
    src: local("CARDC"), url("./fonts/CARDC.TTF") format("truetype");
  }

  body {
    height: 100vh;
    background: linear-gradient(135deg, rgba(110,128,186,1) 11%, rgb(109 64 64) 83%);
    overflow: hidden;
  }

  ::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(110,128,186,1);
    border-radius: 5px;
    transition: .2s;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(65, 85, 153);
    transition: .2s;
  }


#fullBody {
    width: 75%;
    margin:0 auto;
    justify-content: center;
    display: block;
    height: 90vh;
    overflow: auto;
    margin-top: 5vh;
    background-color: white;
}

#headerBox {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

#mainTitle {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    padding: 50px 0px 30px 0px;
    margin: 10px;
    font-family: 'Dosis', sans-serif;
    font-weight: 700;
    color: #6e80ba;
    letter-spacing: 0.09rem;
}

#portrait {
    width: 120px;
    height: 120px;
    border-radius: 75px;
    margin: 20px;
    box-shadow:1px 3px 6px 0px;
}

#bioSection {
    width: 90%;
    border-top: 2px solid rgb(109 64 64);
    border-bottom: 1px solid black;
    margin: 0 auto;
    height: 400px;
    text-align: center;
    padding: 40px 0px;
}

#bioHeader {
    width: 50%;
    margin: 10px auto 20px auto;
    font-family: 'Dosis', sans-serif;
    color: #6e80ba
}

#bioText {
    width: 80%;
    margin: 0 auto;
    text-align: left;
    font-family: 'Dosis';
    font-weight: 600;
    text-align: center;
    line-height: 1.2;
}

#breweryLink {
    color: #6d4040;
    transition: .2s;
}

#breweryLink:hover {
    color: #6e80ba;
    transition: .2s;
}

#githubLogo {
    float:right;
    width: 120px;
    margin: 20px;
    border-radius: 50%;
    box-shadow:1px 3px 6px 0px;
}

#workExamples {
    padding: 50px 0px 100px 0px;
}

#workExamples h2 {
    text-align: center;
    margin: 0 auto 40px auto;
    width: 60%;
    font-family: 'Dosis', sans-serif;
    color: rgb(109 64 64);
}

.fa-angles-down {
    margin: 0px 30px;
}

.linkBody {
    width: 95%;
    background-color: lightgrey;
    margin: 25px auto;
    height: 90px;
    border-radius: 5px;
    overflow: hidden;
}

.pageTitle h3 {
    display: inline-block;
    margin: 20px 0 0 15px;
    padding: 10px;
    border-radius: 5px;
}

.pageTitle p {
    display: inline-block;
    height: inherit;
    margin-left: 20px;
}

.bioList {
    width: 47%;
    display: inline-block;
    height: 230px;
    margin-top: 20px;
}

.bioList ul{
    line-height: 1.5em;
}

.right {
    float: right;
    text-align: left;
    border-left: 2px solid rgb(109 64 64);
    padding-left: 15px;
}

.right ul {
    width: 75%;
}


.left {
    float:left;
    text-align: right;
    border-right: 2px solid rgb(109 64 64);
    padding-right: 15px;
    
}

.left ul {
    direction: rtl;
}

.left li {
    background-position: 100%;
}

/* Poker Link Styling */

#Poker {
    background-color: #08844e;
    color: black;
    font-family: 'Card'
}

#Poker h3 {
    border: 2px solid gold;
    color: black;

}

/* Boat Link syling */

#Boat {
    background-color: #0b3c62;
    color: #a58d6f;
    font-family: 'Poppins', sans-serif;
    letter-spacing: .08em;
}

#Boat h3 {
    color: #a58d6f;
    border: 2px solid #a58d6f;
}

/* Drone Link Styling */

#Drone {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.1em;
    background-color: #f3f3f3;
    color: #3f6163;
}

#Drone h3 {
    color: #3f6163;
    border: 2px solid #3f6163;
    border-radius: 5px;
}

#Drone p {
    font-weight: 600;
}


.pageTitle {
    float: left;
    height: inherit;
}

.logoSection {
    justify-content: space-between;
    float: right;
    width: 0px;
    transition: 1s;
    transition-delay: .5s;
    background-color: lightgray;
    border-radius: 5px;
    height: inherit;
    display: flex;
}

.linkOuter:hover .logoSection {
    width: 275px;
    transition: .3s;
    display: flex;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
}

.langLogo {
    width: 50px;
    display: inline;
    height: 50px;
    padding-top: 15px;
}

.exampleFrame {
    width: 95%;
    display: block;
    margin: 0 auto;
    transition: .6s;
    border: none;
    overflow: hidden;
    height: 0px;
}

.iframeButton {
    width: 95%;
    margin: 0 auto;
    display: block;
    border: none;
    background-color: #6e80ba;
    height: 20px;
    position: relative;
    cursor: pointer;
    color: white;
    font-size: 1.2rem;
}

.buttonBuffer {
    top: -25px;
}

.expand {
    height: 600px;
    transition: .6s;
}

.fa-solid {
    transition: .5s;
}

a {
    color: inherit;
}

#personal {
    width: 90%;
    margin: 0 auto;
    border-top: 2px solid rgb(109 64 64);
}

#personal {
    font-family: 'Dosis', sans-serif;
    padding-bottom: 40px;
    margin-bottom: 100px;
    text-align: center;
}

#personal h2 {
    text-align: center;
    margin: 30px auto;
    width: 60%;
    color: rgb(109 64 64);

}


.bioDetail {
    color: #6d4040;
    text-decoration: underline;
    transition: .4s;
    cursor: pointer;
}

.bioDetail:hover {
    color: #6e80ba;
    text-decoration: underline;
    transition: .4s;
}

#detailsWindow {
    border: 1px solid #6e80ba;
    height: 200px;
    position: relative;
    padding: 10px;
}

.games {
    display: flex;
    justify-content: space-around;
    height: 100%;
    align-content: center;
    flex-wrap: wrap;
}

.gamesImg {
    width: 100px;
    height: 100px;
}

.Window {
    transition: 0.3s;
    position: absolute;
    width: 100%;
    justify-content: space-around;
    display: flex;
}

#default h3 {
    position: relative;
    top: 20px;
    font-size: 1.8em;
    color: #6d4040;
}

.transparent {
    opacity: 0;
    transition: 0.3s;
    z-index: -50;
}

.gone {
    display: none;
}

.drink {
    display: flex;
    justify-content: space-around;
}

.ImgDiv {
    position: relative;
}

.drinkImg {
    height: 200px;
    width: 325px;
}

.negroni::after {
    content: "Negroni";
    color: white;
    top: 25%;
    right: 50px;
    position: absolute;
    font-family: 'Lugrasimo', cursive;
}

.caipirinha::after {
    content: "Caipirinha";
    color: white;
    top: 25%;
    right: 50px;
    position: absolute;
    font-family: 'Lugrasimo', cursive;
}

.travelImg {
    width: 100%;
    height: 180px;
    max-width: 300px;
}




.ImgDiv::after {
    font-family: 'Montserrat', sans-serif;
    color: white;
    transition: 0.2s;
    position: absolute;
    font-size: 2.7em;
}

.ImgDiv:hover:after {
    color: #ffffff00;
}

.tokyo::after {
    content: "TOKYO";
    right: 20%;
    top: 34%;
}

.escondido::after {
    content: "PUERTO ESCONDIDO";
    font-size: 2em;
    right: 0%;
    top: 28%;
}

.samui::after {
    content: "KOH SAMUI";
    right: 8%;
    width: 80%;
    top: 21%;
}

.food {
    height: 100%;
}

.foodDiv {
    width: 30%;
    height: 90%;
    background-size: cover;
    background-position-y: center;
}

.carbonara {
    background-image: url(./images/carbonara.jpg);
}

.ramen {
    background-image: url(./images/ramen.jpg);
}

.goulash {
    background-image: url(./images/goulash.jpg)
}

.cover {
    color: #ffffff00;
    background-color: #ffffff00;
    transition: 0.3s;
    height: 100%;
}

.cover h5 {
    margin-top: 0px;
}

.cover:hover {
    color: white;
    background-color: #8080805c;
    transition: 0.3s;

}