*, html {
    scroll-behavior: smooth !important;
}

:root{
    --deepGrey: #454040;
    --midBlue: #638897;
}

body {
    margin: 0px !important;
    padding-top: 80px;
    font-family: 'Titillium Web', sans-serif;
}

#fullBody {
    width: 100vw;
    background-color: blue;
}

a, a:hover, a:active, a:focus {
    transition: .3s;
    text-decoration: none !important;

}


#headerBox {
    position: fixed;
    top: 0px;
    background-color: var(--deepGrey);
    width: 100vw;
    height: 80px;
    justify-content: flex-end;
    display: flex;
    align-items: center;
    z-index: 100;
    border-bottom: 2px solid #638897;
}

#headerBox a {
    margin-right: 20px;
}



.headerImg {
    height: 70px;
    border-radius: 50%;
    aspect-ratio: 1;
    margin: 0px 20px;
}

#githubLogo {
    background-color: white;
    margin-right: 40px !important;
}

#taglineSpace {
    display: flex;
    height: 25vh;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    margin: 25px 0px 0 0;
}


.bioBlocks {
    justify-content: center;
    text-align: center;
    display: inline;
}

#bioText {
    flex-basis: 60%;
    font-size: 1.3em;
    font-weight: 600;
    padding: 0px 35px;
}

.bioItem, .bioItem a {
    line-height: 2.2em;
    font-size: 1.7rem;
    color: #638897;
}

.bioItem i {
    margin: 0px 15px;
    color: black;
}

#contactInfo {
    flex-basis: 30%;
}

#mainTitle {
    color: white;
    display: inline;
    margin: 0 auto 0 80px;
    letter-spacing: 0.1rem;
    font-size: 30px;
    font-weight: 600;
}

.navLink {
    text-decoration: none;
    color: white;
    font-weight:600;
    letter-spacing: .25em;
    scroll-behavior: smooth !important;
}


#bioSection {
    margin-top: 110px;
    height: calc(100vh - 200px)
}



.technologies {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 80vw;
    margin: 0 auto;
    padding: 25px 100px 75px 100px;
    border-bottom: 3px solid var(--deepGrey);
}

.techImg {
    width: 75px;
    aspect-ratio: 1;
}

.lookingFor {
    margin: 0px auto 50px auto;
    text-align: center;
    font-size: 1.5em;
    padding: 50px;
    border-top: 3px solid var(--deepGrey);
    border-bottom: 3px solid var(--deepGrey);
    width: 80vw;
    font-weight: 600;
    line-height: 2.2;
}

.lookingFor h3 {
    margin: 0px auto 25px auto;
    font-weight: 700;
    font-size: 1.2em;
}

.lookingFor ul {
    list-style-position: inside;
    font-size: 0.8em;
}


.sectionScroll {
    scroll-behavior: smooth;
}


#workExamplesScroll, #bioSectionScroll {
    height: 79px;
    display: block;
}

#examplesContainer {
    width: 100%;
    height: 95vh;
    display: flex;
}

#workExamples {
    height: calc(100vh - 85px);
    border: 2px solid var(--deepGrey);
    padding: 0px;
    height: 840px !important;
    width: 100%;
}


#carouselSectionBox {
    width: 95vw;
    height: 85vh;
    border: 3px solid var(--deepGrey);
    margin: 0 auto;
}

.slideHeaders {
    background-color: var(--deepGrey)
}

.iframeSlide {
    width: inherit;
}

.slidelangLogo {
    height: 40px;
    aspect-ratio: 1;
}


.iFrameContainer {
    display: flex;
    padding: 30px 0px 50px 50px;
}

.siteImgs{
    display: none;
}

.linkOuter {
    border: 4px solid red;
    margin: 40px;
}


.langLogo {
    width: 75px;
    aspect-ratio: 1;
}

.gamesImg {
    width: 75px;
    aspect-ratio: 1;
}

#ror2img {
    width: 150px;
    aspect-ratio: 2/1;
}

.travelImg {
    width: 100px;
    aspect-ratio: 1;
}

#personal {
    width: 100%;
    background-color: var(--deepGrey);
    height: 35vh;
    color: white;
    text-align: center;
    padding-top: 25px;
    font-weight: 700;
}

#personal h2 {
    margin-bottom: 20px;
    font-weight: 600;
}


.bioFocusItem {
    color: var(--midBlue);
    font-size: 1.1em;
    cursor: pointer;
    border-bottom: 1px dotted var(--midBlue)
}

#focusItemImages {
    width: 60vw;
    display: block;
    margin: 0 auto;
    position: relative;
}


.imagesContainer {
    display: flex;
    width: 60vw;
    margin: 25px auto;
    justify-content: space-around;
    transition: .4s;
    opacity: 0;
    position: absolute;
}

.shown {
    opacity: 1;
    transition: .4s
}

.gameImg {
    width: 100px;
    aspect-ratio: 1;
}

.drinkImg, .foodImg {
    width: 200px;
    aspect-ratio: 1.2;
    border-radius: 10px;
}

#bottomInfo {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    font-weight: 600;
    font-size: 15px;
    margin: 10px auto 20px auto;
}

@media screen and (max-width: 870px){
    * {
        font-size: 1rem;
        max-width: 100vw;
    }

    iframe{
        display: none;
    }
    .headerImg {
        display: none;
    }

    #mainTitle {
        font-size: 1.4rem;
        margin-left: 15px;
    }

    #navLinks {
        display: flex;
    flex-wrap: wrap;
    justify-content: end;
    line-height: 25px;
    }

    .navLink {
        margin: 0px 10px;
    }

    #taglineSpace {
        margin: 0px;
    }

    .bioItem, .bioItem a {
        font-size: 1rem;
    }



    #pokerSlide .siteLinks {
        width: 75vw;
    }

    .siteLinks {
        margin: 0px auto 5px auto !important;
    }

    #workExamplesScroll, #bioSectionScroll {
        height: 45px;
    }


    #bioSection {
        margin-top: 30px;
        height: 85vh;
    }

    .lookingFor {
        padding: 25px;
    }

    .lookingFor ul {
        padding-left: 10px;
    }

    .technologies {
        padding: 0px;
    flex-wrap: wrap;
    padding-bottom: 50px;
    }

    .techImg {
        width: 45px;
        margin: 5px 5px;
    }

    .gameImg {
        width: 50px
    }

    #ror2img {
        width: 90px;
    }

    .drinkImg, .foodImg {
        width: 95px;
        margin: 0px 5px;
    }

    #personal {
        height: 43vh;
    }

    #focusItemImages {
        width: 100%;
    }

    .imagesContainer {
        width: inherit;
    }

    #personal span {
        line-height: 20px;
        width: 80vw;
    display: block;
    margin: 0 auto;

    }
}